<!DOCTYPE html>
<html th:replace="/fragment/page.html
      :: page('Đặt chỗ',~{ :: .content})">
    <div class="content">
        <h2>Đặt chỗ</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đặt chỗ</li>
            </ol>
        </nav>

        <form id="bookingForm" class="d-flex align-items-end mb-3 mt-3" method="Get" th:unless="${bookingTime}" onSubmit="submitForm(event)">
            <div class="me-2">
                <label for="bookingTime" class="form-label">Thời gian đặt chỗ</label>
                <input type="datetime-local" id="bookingTime"  class="form-control" name="bookingTime"
                       min="" th:value="${bookingTime}" required>
            </div>
            <button class="btn btn-primary" type="submit">Đồng ý</button>
        </form>

        <form class="d-flex align-items-end mb-3 mt-3" th:if="${bookingTime}">
            <div class="me-2">
                <label for="search" class="form-label">Tên thiết bị</label>
                <input type="text" class="form-control" id="search" aria-describedby="search" name="search">
                <input type="hidden"  th:value="${bookingTime}" name="bookingTime"/>
            </div>
            <button class="btn btn-primary" type="submit">Tìm kiếm</button>
        </form>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div th:if="${errorMessage}"
                 class="toast align-items-center text-bg-danger border-0 fade show"
                 role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" th:text="${errorMessage}"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                            data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div th:if="${successMessage}"
                 class="toast align-items-center text-bg-success border-0 fade show"
                 role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" th:text="${successMessage}"></div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto"
                            data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <table class="table" th:if="${bookingTime}">
            <thead>
                <tr>
                    <th>Mã thiết bị</th>
                    <th>Tên thiết bị</th>

                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="device : ${devices}">
                    <td th:text="${device[0]}"></td>
                    <td th:text="${device[1]}"></td>

                    <td>
                        <form method="POST" action="/book">
                            <input type="hidden"  th:value="${device[0]}" name="deviceId"/>
                            <input type="hidden"  th:value="${bookingTime}" name="bookingTime"/>
                            <button type="submit" class="btn btn-primary" >Đặt chỗ</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                document.querySelector('.toast-container .toast').classList.remove("show");
            }, 5000);
        });

        function openModal(button) {
            var deviceId = button.getAttribute("device-id");
            var currentDateTime = new Date().toISOString().slice(0, 16).replace("T", " ");
            document.getElementById('modalBookingTime').min = currentDateTime;
            document.querySelector("#bookingForm").setAttribute('action', '/book/' + deviceId);
            var modal = new bootstrap.Modal(document.getElementById('bookingModal'));
            modal.show();
        }

        function submitForm(event) {

            var selectedDateTime = new Date(document.getElementById('bookingTime').value);

            var minimumDateTime = new Date();
            minimumDateTime.setMinutes(minimumDateTime.getMinutes() + 30);
            if (selectedDateTime < minimumDateTime) {
                alert('Thời gian đặt chỗ phải sau ít nhất 30 phút so với thời gian hiện tại');
                event.preventDefault();
            }
        }
    </script>
</html>