<!DOCTYPE html>
<html th:replace="/fragment/page.html
      :: page('Thiết bị đang đặt chỗ',~{ :: .content})">
    <div class="content">
        <div th:replace="/fragment/alert.html :: alert"></div>
        <h2>Thiết bị đang đặt chỗ</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Mã thiết bị</th>
                    <th>Tên thiết bị</th>
                    <th>Thời gian đặt chỗ</th>
                    <th>Hủy đặt chỗ</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bookedDevice : ${bookedDevices}">
                    <td th:text="${bookedDevice.maTB.maTB}"></td>
                    <td th:text="${bookedDevice.maTB.tenTB}"></td>
                    <td th:text="${#dates.format(bookedDevice.tGDatCho, 'dd-MM-yyyy HH:mm')}"></td>
                    <td>
                        <form method="post" action="/cancel/booking">
                            <input type="hidden" th:value="${bookedDevice.maTT}" name="maTT"/>
                            <button type="submit" class="btn btn-danger">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>