<!DOCTYPE html>
<html th:replace="/fragment/page.html
      :: page('Đặt chỗ',~{ :: .content})">
    <div class="content">
        <div th:replace="/fragment/alert.html :: alert"></div>
        <h2>Đổi mật khẩu</h2>

        <form action="/change-password" method="POST">
            <div class="row gy-2 overflow-hidden">

                <div class="col-12">
                    <div class="form-floating mb-3 flex-fill d-flex align-items-center position-relative">
                        <input th:value="${password}" type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
                        <label for="password" class="form-label">Mật khẩu</label>

                        <div class="input-group-append position-absolute end-0 pe-2"> 
                            <span id="toggle-password">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="form-floating mb-3 flex-fill d-flex align-items-center position-relative">
                        <input th:value="${password}" type="password" class="form-control" name="newPassword" id="newPassword" value="" placeholder="Mật khẩu mới" required>
                        <label for="password" class="form-label">Mật khẩu mới</label>

                        <div class="input-group-append position-absolute end-0 pe-2"> 
                            <span id="toggle-new-password">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="col-12">
                    <div class="d-grid my-3">
                        <button class="btn btn-primary btn-lg" type="submit">Đồng ý</button>
                    </div>
                </div>
            </div>
        </form>
        <script>
            const passwordInput = document.getElementById('password');
            const togglePassword = document.getElementById('toggle-password');
            const newPasswordInput = document.getElementById('newPassword');
            const toggleNewPassword = document.getElementById('toggle-new-password');
            togglePassword.addEventListener('click', function () {
                const isHidden = passwordInput.type === 'password';
                passwordInput.type = isHidden ? 'text' : 'password';
                if (isHidden) {
                    togglePassword.innerHTML = `<i class="fa-solid fa-eye-slash"></i>`;
                } else {
                    togglePassword.innerHTML = `<i class="fa-solid fa-eye"></i>`;
                }
            });
            toggleNewPassword.addEventListener('click', function () {
                const isHidden = newPasswordInput.type === 'password';
                newPasswordInput.type = isHidden ? 'text' : 'password';
                if (isHidden) {
                    toggleNewPassword.innerHTML = `<i class="fa-solid fa-eye-slash"></i>`;
                } else {
                    toggleNewPassword.innerHTML = `<i class="fa-solid fa-eye"></i>`;
                }
            });

        </script>
    </div>

</html>